body {
	font-family: 'Open Sans', sans-serif;
	background-color: white;
}

.jumbotron {
	background: url(/images/what_spooning.jpg);
	background-size: cover;
}

h2 {
	font-size: 18px;
}

.spoonbody {
	text-align: center;
	padding: 70px 200px 0 200px;
}