<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>"Help Queue"</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="jumbotron-narrow.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
<a href="/queue">View Queue</a>

<!-- <ul>
	<% @contacts.each do |contact| %>
	<li><a href="/contacts/<%= @queue[:name] %>">See <%= "queue[:name]" %><a></li>
	<% end %>
</ul> -->

<p> "This website will solve our TA queue situation. It will organize life for Erica, Ian, and Josh." </p>
<p2> "Add yourself to the help queue by typing "/add/YOURNAME""</p2>
<p2> "Remove yourself from the queue by typing "/remove/YOURNAME""</p2>
<p2> "Happy TA's Happy class"</p2>
<p3> "Walla, we've just solved half of the world's problems."</p3>

</body>
</html>