<div class="section middle">
	<div class="row">
	    <h1>Maria McLaughlin</h1>
	    <h2 id="school">
	      Harvard University
	    </h2>
    </div>
</div>
	
<div class="section bottom">
	<div class="row">
		  <h2>Anchorage, Alaska</h2> 
	</div>
</div>