<html>
	<head>
		<title>Maria McLaughlin</title>
		<link rel="stylesheet" href="../../dist/css/normalize.css">
		<link rel="stylesheet" href="/stylesheets/skeleton.css"></link>
		<link rel="stylesheet" href="/stylesheets/style.css"></link></head>
		<link rel="icon" type="image/png" href="../../dist/images/favicon.png">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="container">
			<%= erb :nav %>
			<%= yield %>

	</body>
		</div>
</html>