<div class="section nav">
	<div class="row">
	    <div class="two columns">
	    	<li><a class="button" href="/home">Home</a></li></div>
	    <div class="two columns"><li><a class="button" href="/about">About</a></li></div>
	    <div class="two columns"><li><a class="button" href="/contact">Contact Me</a></li></div>
	</div>
</div>
