.AboutMe{
    margin: 25px;
    border-radius: 20px;
    background: rgba(0,100,200,.6);
    padding: 10px;
}

.tab2{
	background: rgba(0,100,200,.6);
	border-radius: 20px;
	float: left;
	max-width: 47%;
	margin: 0px 5px 0px 0px;
	text-align: left;
	padding: 10px;
}

.tab3{
	background: rgba(0,100,200,.6);
	border-radius: 20px;
	float: right;
	max-width: 47%;
	margin: 0px 0px 10px 5px;
	text-align: left;
	padding: 10px;
}
.headerimage{
  border: 10px rgba(0,100,200,.8) solid;
  border-radius: 1000px; 
  max-width: 250px;
}

header{
  background: black; 
  margin: 0px; 
  background:url("https://38.media.tumblr.com/c49aa15b9a8888764de93026bb3b4fa8/tumblr_n5iwg71UVz1szzplzo1_500.gif");
  background-size: cover;
  background-position: center; 
  padding: 10px; 
  font-family: 'Open Sans', sans-serif;
  color: rgba(0,100,200,.8);
}

body{
  background: gray;
  background-position: center;
  font-family: helvetica; 
  text-align: center; 
  margin: 0 auto; 
  font-size: 20px;
}
h1{
	font-size: 100px;
	color: rgba(250,250,250,0.7);
	margin: 0;
}

.lower-row{
	text-align: center;
	margin: 25px;
}
h3{
	text-align: center;
	font-size: 50px;
	margin: 0;
	color: white;
}
h4{
	margin: 0;
	text-align: center;
	color: white;
}

.subheading{
	background: rgba(100,100,100, 0.5);
	padding: 10px;
	margin: 20px 5px;
	border-radius: 20px;
	border: 5px white solid;
}

p{
	color: white;
}

.moreAboutMe{
	background: rgba(0,100,200,.6);
	border-radius: 20px;
	float: right;
	max-width: 47%;
	margin: 10px 0px 0px 5px;
	text-align: left;
	padding: 10px;
}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.linkImage{
	max-width: 45%;
	margin: 10px;
}
.rightImage{
	float: right;
}