<!DOCTYPE html>
<html>
<head>
	<title>Christine's Marvelous Calculator</title>
</head>
<body>
<h1>How Do I use this Calculator?</h1>
<p>
It's easy! All you gotta do is:<br>
<br>
<b>1. Type in /(function)/(x)/(y) after the URL</b><br>
<br>This will give you "x" (function) "y", so if you're looking for 200 + 1, then you type in /add/200/1. <br>The different functions are: <i>add, subtract, multiply, divide.</i><br><br>
<b>2. Sacrifice a pop tart by throwing it into an active volcano in Iceland<br><br>
<b>3. Great! Now you're all set to use this calculator
</p>
</body>
</html>