<html>
	<head>
		<title> Spirit Animal Generator </title>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!--<link rel= "stylesheet" href="/style.css">-->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/style.css">

	</head>

	<body>

		<%=yield%>
<div class="container">
    <div class = "row">
        <div class="col-lg-2 col-lg-offset-5 text-center">
                <h3 class = "links">
                    <span class = "link"><a href="mailto:vickiliu@umich.edu?Subject=Hello" target="_top"><span class="fa fa-envelope"></span></a></span>
                     <span class="link"><a href="https://www.facebook.com/vicki.liu.1297" target="_top"><span class="fa fa-facebook-official"></span></a></span>
                      <span class ="link"><a href="https://twitter.com/basedkelp" target="_top"><span class="fa fa-twitter"></span></a></span>
                </h2>
        </div>
    </div>
 </div>
	</body>
</html>