body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
 }
 .top {
  color: gray;
  text-align: justify;
 }
 .middle {
  background-image: url("../images/nightmountain.jpg");
  color: white;
  height: 500px;
  background-position: center;
  background-size: 100% 100%;
  opacity: .75;
 }
 h1 {
  padding-top: 200px;
  font-size: 48px;
 }
 h2 {
  color: 808080;
  font-size: 36px;
 }
 p {
  color: 808080;
 }

 ul {
  margin: 0;
  padding: 0;
  list-style-position: none;
 }

 li {
  display: inline;
  color: 808080;
 }