body {
	font-family:'Open Sans', sans-serif;
	text-align: center;
}
h1 {
	text-align: center;
	padding-top: 50px;
}
a:link {
	text-decoration: none;
	text-align: center;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: 808080;
}