<head>
	<title> Cameron Averill </title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body  style="text-align: center; margin: 0 auto">
	<header style="padding: 0; background: black; margin: 0px; font-family: 'Open Sans', sans-serif; color: rgba(0,100,200,.8)"> 
	<img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xfp1/t31.0-8/10548681_10202599808452207_7964489497422362692_o.jpg" style="border-radius: 200px; max-width: 200px">
	<h1> Cameron Averill </h1>
	<ul style="background: rgba(196, 216, 226, 1); color: gray; padding: 20px; margin: 0 auto">
		<li style="display: inline; margin: 0 20px 0 20px; color: gray"> <a href="/"> Home </a> </li>
		<li style="display: inline; margin: 0 20px 0 20px"> <a href="/about"> About </a> </li>
		<li style="display: inline; margin: 0 20px 0 20px"> <a href="/contact"> Contact </a> </li>
	</ul>
	</header>
	<div class="AboutMe">
    <h3>About Me</h3>
    <p> Originally from Orange County, CA </p>
  </div>
<div class="lower-row">
  <div class="tab2">
        <h3>Technical Skills</h3>
          <div class="subheading"> <strong> <h4> Python </h4> <hr> </strong>
          <p> I worked on a project for the Computational Linguistics Lab at Northwestern University. I wrote a script to calculate the similarity of two words based on a Gabor transformation as well as a traditional Linear Transformation. Completely inexperienced with Python at the time, I learned the language comprehensively through trial-and-error; long periods of frustration interspersed with short bursts of elation make for the perfect teacher</p> </div>
          <div class="subheading"> <strong> <h4> C++ </h4> <hr> </strong>
          <p> I completed an introductory course taught in C++. We covered topics extending as far as smart pointers and dynamic memory allocation.  </div>
          <div class="subheading"> <strong> <h4> Java </h4> <hr> </strong>
          <p> My first exposure to Computer Science, through Java I learned the fundamentals of object oriented programming. And I made a pretty cool calculator for physics in mechanics that I wish I had saved on my computer. </p> </div>

      </div>
  <div class="tab3">
        <h3>Hobbies</h3>
          <div class="subheading"> <strong> <h4> Running </h4> <hr> </strong>
          <p> I started running in 6th grade, and we've had a love-hate relationship ever since. Hate when I was injured, love when I actually beat my season bests. </p> </div>
          <div class="subheading"> <strong> <h4> Writing </h4> <hr> </strong>
          <p> I enjoy writing things that I know only I'll read. I study David Sedaris's writing in the hope that paying for the New Yorker enough times will make the publication indebted to me, forcing them to publish my stuff when I die.  </div>
  </div>
  <div class="moreAboutMe"> <strong> <h3> Contact Me </h3> </strong> <hr> <a href="https://www.linkedin.com/pub/cameron-averill/b2/737/860" style="text-decoration:none;"> <span> <img class="linkImage" src="http://www.troonfc.com/media/1030/1-facebook-logo.png"> </span> </a>
  <a href="https://www.facebook.com/cameron.averill" style="text-decoration:none;"><span><img class="linkImage rightImage" src="http://www.myacpa.org/sites/default/files/Linkedin_Shiny_Icon.svg_.png"> </span> </a> </div>
</div>
    </div>
  </div>
  </div>
</body>
