<head>
	<title> Cameron Averill </title>
</head>

<body  style="text-align: center; margin: 0 auto">
	<header> 
	<img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xfp1/t31.0-8/10548681_10202599808452207_7964489497422362692_o.jpg" style="border-radius: 200px; max-width: 200px">
	<h1> Cameron Averill </h1>
	<ul style="background: rgba(196, 216, 226, 1); color: gray; padding: 20px">
		<li style="display: inline; margin: 0 20px 0 20px; color: gray"> <a href="/"> Home </a> </li>
		<li style="display: inline; margin: 0 20px 0 20px"> <a href="/about"> About </a> </li>
		<li style="display: inline; margin: 0 20px 0 20px"> <a href="/contact"> Contact </a> </li>
	</ul>
	</header>
	<p> <strong> Email: </strong> cameronaverill@gmail.com </p>
	<p> <strong> Address: </strong> 4 Flintstone <br> Aliso Viejo, CA 92656 </p>
	<p>	<strong> <a href="https://www.linkedin.com/pub/cameron-averill/b2/737/860"> Linkedin </a></strong> </p>
	<p>	<strong> <a href="https://www.facebook.com/cameron.averill"> Facebook </a> </strong> </p>
</body>