<h1 style= "text-align: center"> Michael's Phonebook </h1>

<p style= "text-align: center", padding = "10px"> 
Welcome to the phonebook! To see one contact, type /each/Contact Name after the url above. </p>

<p <p style= "text-align: center", padding = "10px"> 
To see all of the contacts, click this link instead:
<br>
<a href= "http://localhost:4567/contacts">
http://localhost.4567/contacts
</a>
</p>