<h1>Online PhoneBook</h1>
<p>In this application you have the option of viewing all contacts or a specific contact in your phonebook.</p>
<p>To see all contacts available go to "/contacts"<p>
<p>To see a specific contact, including their phone number, go to "/contacts/name" where name is the first name of the contact, capitalized. </p>
