<h1>Online PhoneBook</h1>
<p>In this application you have the option of viewing all contacts or a specific contact in your phonebook.</p>
<a href="/contacts">Contacts<a>
<p>To see a specific contact, click on their name below:</p>
<% @contacts.each do |name| %>
	<a href="/contacts/<%= name %>"><%= name %></a>
	<br>
<% end %>
