<html>
	<head>
		<title>Phone Numbers App</title>
		<link rel="stylesheet" type="text/css" 
			href="/stylesheets/style.css">
			<!-- boostrap javascript -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/jumbotron-narrow.css">
	</head>
	<%= yield %>
</html>