<!DOCTYPE html>

<head>
<Title> Cameron's Calculator </Title>
</head>

<body style="text-align: center; margin: 0 auto; max-width: 400px"> 
<h1> Cameron's Calculator </h1>
<p> Welcome to Cameron's Calculator, where the secret lies in the web address.
	Just type our domain name followed by a site path, where the first path feature 
	is the operation you wish to complete, followed by two paths that are the numbers you wish to calculate. </p>
<p> <strong> Example: </strong> http://localhost:4567/add/4/7 takes you to a page that shows the sum of 4 and 7. </p>

<p> The possible operations are add, subtract, multiply, divide, and exponentiate </p>
</body>