<!doctype html>
<html>
<head>
  <title>Tyler Kaye</title>
  <link rel="stylesheet" type="text/css" href="/../style.css">
  <link href='https://fonts.googleapis.com/css?family=Chelsea+Market' rel='stylesheet' type='text/css'>
  <style>
      body {
        background: url("/../back2.jpg");
        background-size: cover;
      }
  </style>
</head>
<body>
  <div class="title">
    <h1>Greetings Friends, Colleagues, Lovers</h1>
    <h2> Welcome To My Website</h2>
  </div>    
  <br>
  <div class = "links"> 
    <ul> 
        <li><a href ="">Home</a></li>
        <li><a href ="/about">About Me</a></li>
        <li><a href ="/contact">Contact Me</a></li>
    </ul>
  </div>
  <br>
  <div class="top">
    <div class="sect">
        <h2><u>Family</u></h2>
        <img src="/../prof.png" height= 300px> 
    </div>
    <div class="sect">
        <h2><u>School</u></h2>
       <img src="/../babe.png" height= 300px width= 250px> 
    </div>
    <div class="sect">
      <h2><u>Nutella</u></h2>
        <img src="/../nut.png" height= 350px align=center>
      </p>
    </div>
  </div>
  <br>
  <div class="bottom"> 
     <h2>MY ESSAY</h2>
     BLAH....BLAH....BLAH....BLAH....BLAH....BLAH....BLAH....BLAH....BLAH....BLAH....BLAH....BLAH....
  </div>
</body>
</html>