<h1>Online Calculator!</h1>
<p>Welcome to this great online calculator! To start add "/operation/number1/number2" to the url above. Valid operations are: add, multiply, subtract, divide, and exponent. number1 and number2 are any valid numbers. For exponent, number1 is the base number, and number2 is the power to which the base is being raised. Only two numbers can be entered for this version of calculator. <p>
<p> Thanks for using calculator online!<p>