<!DOCTYPE html>
<body style="text-align: center; margin: 0 auto; max-width: 800px">
<h1> Phonebook </h1>
<p> See all your friends: <a href="/contacts"> Index View </a> </p>
<h2> See a Specific Friend </h2>
<p> 
