<html>
	<head>
			<title> Phone Numbers App</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
			<link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron/jumbotron.css">
			<link href="/style.css" rel="stylesheet"> 
			</head>
<body>
<h1>Hello World</h1>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<%= yield %>
</html>

