<h1 style="text-align: center">How to Use</h1>
	<ol>
		<li>Change the url to use this calculator.</li>
		<li>Use /add/ followed by the two numbers you wish to add.</li>
		<li>For example, /add/4/7. </li>  
		<li>Follow these instructions for multiply, subtract, divide, and exponent.</li>
	</ol>