<!DOCTYPE html>
<head>
  <link rel="stylesheet" type"text/css" href="stylesheets/home.css">
  <title>Nadin El-Yabroudi</title>
</head>
<body>
    <h1>Nadin El-Yabroudi</h1>
    <h2>Studying Math and Computer Science at Stanford University</h2>
    <img src="http://i.imgur.com/nWeiNwx.jpg?1" title="source: imgur.com" />
    <p class="nav-menu">home</p>
    <p class="nav-menu">about</p>
    <p class="nav-menu">contact me</p>
    <h1 class="section-title">About Me!</h1>
    <p>Hi! I'm Nadin, a Math and Computer Science major at Stanford. I was born and raised in Mexico City. This summer I'm studying web development in Cape Town, South Africa.  </p>
    <p>My interests range from playing the violin and the ukulele to white water kayaking. At Stanford, I am part of a Mariachi band!</p>
    <a href = "/About">Learn more...<a>
</body>