.container {
  padding: -10px;
}

head {
	text-align: center;
}

.img-responsive {
  border: 7px solid white;
  border-radius: 50%;
  width: 250px;
}

li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }