body {
	margin-top: 20px;
	background-size: cover;
	background-image: url("http://www.mrwallpaper.com/wallpapers/cape-town-foggy-night-1920x1200.jpg");
	color: white;
	font-family: 'Poiret One', cursive;
}

h1.horoscope {
	margin-bottom: 20px;
}

h4 {
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
	color: rgba(255,255,255,0.8);
}

h4.intro {
	margin-bottom: 50px;
}

p {
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
}

a {
	color: rgba(255,255,255,0.8);
	background-color: rgba(0,0,0,0.2);
	font-size: 18px;
}

a:hover {
	color: rgba(0,0,0,1);
}

.back {
	font-size: 15px;
	background-color: none;
	text-align: right;
}

h4.description {
	font-size: 18px;
}

h4.description2 {
	margin-bottom: -15px;
}
