<h1>Welcome to Africa</h1>

<% @animals.each do |animal| %>
	<p>
		<%= link_to animal.name, animal_path(animal) %>
	is a <%= animal.species %></p>
<% end %>

<%= link_to 'New Animal', new_animal_path %>