<h1>WELCOME TO MY ONLINE CALCULATOR</h1>

<h2>Directions:</h2>

<p>1) In the url above, manipulate the mathematical operation and numbers to your desire (http://localhost:4567/#{mathematical_operation}/#{number}/#{number})</p>
<p>2) To use addition, change the mathematical operation to "add" (i.e. http://localhost:9393/add/10/2)</p>
<p>3) To use subtration, change the mathematical operation to "subract" (i.e. http://localhost:9393/subtract/10/2)</p>
<p>4) To use multiplication, change the mathematical operation to "multiply" (i.e. http://localhost:9393/multiply/10/2)</p>
<p>5) To use division, change the mathematical operation to "divide" (i.e. http://localhost:9393/divide/10/2)</p>
<p>6) To use an exponential equation, change the mathematical operation to "exponent" (i.e. http://localhost:9393/exponent/10/2)</p>
<p>7) Once you have manipulated the url, the calculator will produce an answer on an empty page</p>