<h1> <%= @places.name %> </h1>

<p> This place is <%= @places.distance%> minutes drive from iX</p>

<p> <%= @places.description %> </p>

<p> This place's highlight is : <%= @places.highlight %> </p>


</br>
<p><a href="/places"> Back to Home </a></p>
