<h1> Hello Bru <h1>

<% @animals.each do |animal| %>
	<p>
	<%= link_to animal.name, animal_path(animal) %></p>
	<!-- # "/animals/#{animal.id}" %> -->
<!-- 
	<a href="animals/<%= animal.id %>"> -->
	<!-- Name: <%= animal.name %> (<%= animal.species %>)</p>
	</a> -->
<% end %>