<!DOCTYPE html>
<html>
<head>
	<title>Spoon</title>
</head>
<body>



 <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SPOON</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>We Know You Spoon</h1>
        <p>We all do it. And we all love it. But haven't you ever wondered what kind of spoon you were?</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Of course I have &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>The Big Spoon</h2>
          <p>In spooning, the big spoon is the spoon in the back. Historically, the big spoon has typically been designated for the larger of the objects involved in the act, although societal progress has now made this expectation largely irrelevant. </p>
          <p><a class="btn btn-default" href="/bigspoons" role="button">I'M A BIG SPOON! &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>The Little Spoon</h2>
          <p>In spooning, the little spoon is the spoon on the inside. Usually the shorter partner, although due to societal progress, this is no longer the expectation. The little spoon is considered the one getting “snuggled” in this arrangement and is shielded from all of the bad that exists in the world.  </p>
          <p><a class="btn btn-default" href="/littlespoons" role="button">I'M A LITTLE SPOON! &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Still Not Sure?</h2>
          <p>Fear not, you can still see all the different types of spoons!</p>
          <p><a class="btn btn-default" href="/spoontypes" role="button">LEMME SEE! &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Christine and Aobo 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>






</body>
</html>