<h2>This is a calculator that cannot replace your calculator on your iPhone</h2>

<p>How? Add "/operation/number/number" to the url to calculate</p>
<p>Possible operations: add, subtract, multiply, divide and exponent</p>
<p>For example "/divide/8/4" will give a page saying 8 divided by 4 is 2</p>
<p>Happy calculating!</p>