<h1>Individual Shark Page</h1>

<p>Shark name: <%= @shark.name %></p>
<p>Shark size: <%= @shark.size %></p>
<p>Shark gender: <%= @shark.gender %></p>
<p>Shark danger_level: <%= @shark.danger_level %></p>