
h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 70px;
}

h2 {
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
}

.container {

	margin-top: 100px;

}


img {
	padding: 5%;
	height: 500px
	
}

li {
	padding: 5px;
	left-margin: 50px;
	right-margin: 50px;
}

.link {
	padding: 5%;
}
