<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<!DOCTYPE html>
<html>
<head>
  <title>Vicki Liu</title>
</head>
<body>
  <img src="images/self.jpg">
  <p>Vicki Liu</p>

<%= erb :nav %>
  <div class = "section about">
  <h1> About me </h1>
  <ul>
  <li> I'm from Basking Ridge, New Jersey </li>
  <li> I'm a rising junior at the University of Michigan</li>
  <li> I'm most excited about learning how to make a finished web app </li>
  <li> I spent the last month studying and traveling in Europe!</li>
  
  </ul>
  </div>

  <div class = "section photo">
    <h1> I also love photography! </h1>
    
    <img src="images/flowers.jpg">
    <img src="images/leaf.jpg">
    <img src="images/blah.jpg">
    <img src="images/ice.jpg">
    <img src="images/ph.jpg">
    <img src="images/alissa.jpg">

  </div>
</body>
</html>
