<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<!DOCTYPE html>
<html>
<head>
  <title>Vicki Liu</title>
</head>
<body>
  <img src="images/self.jpg">
  <div class = "container">
  <p>contact me.</p>

<%= erb :nav %>
  <div class = "section contact">
  <ul>
  <li>address: i live in a pineapple under the sea </li>
  <li>email: vickiliu@umich.edu</li>
  <li>fb: <a href ="https://www.facebook.com/vicki.liu.1297">Facebook me!</a> <li>
  </ul>

  </div>
  </div>
</body>
</html>
