body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
 }
 .top {
  color: gray;
  text-align: justify;
 }
 .middle {
  background-image: url("/../images/nightmountain.jpg");
  color: white;
  height: 500px;
  background-position: center;
  max-width: 100%;
  opacity: .75;
  margin-left: 0 auto;
  margin-right: 0 auto;
 }
 #school {
  color: white;
 }
 h1 {
  padding-top: 200px;
  font-size: 48px;
 }
 h2 {
  color: 808080;
  font-size: 36px;
 }
 p {
  color: 808080;
 }

 ul {
  margin: 0;
  padding: 0;
  list-style-position: none;
 }

 li {
  display: inline;
  color: #3762de;
 }

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.nav {
  margin: -4rem 5 -4rem;
}

@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }

