<h1> Welcome to my famous Calculator </h1>
<h2> To use the calculator pass through your opertion (add, subtract, mutiply, divide, exponent) after the / in the URL followed by the two numbers you would like the operation to be performed on. <br> <br>
For Example: http://localhost:4567/add/7/50 will add 7 to 50  </h2>
