<h1><b> <u>Single Contact: </u></b></h1> 
<br>
<a href="/../..">------------HOME------------</a> <br>
<a href="/../contacts">-----ALL CONTACTS-----</a> <br><br>


<% @contact_info.each do |line| %>
<%= line %>
<br>
<% end %>