<html>
	<head>
		<title>Phone Numbers App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/jumbotron_narrow.css">
		<!-- custom styles -->
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	
	<body>
		<div class="container">
		<div class="header clearfix">
		  <nav>
		    <ul class="nav nav-pills pull-right">
		      <li role="presentation" class="active"><a href="#">Home</a></li>
		      <li role="presentation"><a href="#">About</a></li>
		      <li role="presentation"><a href="#">Contact</a></li>
		    </ul>
		  </nav>
		  <h3 class="text-muted">Phone numbers</h3>
		</div>
		<%= yield%>
		<div>
			<!-- /container -->
		</div>
	</body>
</html>