<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href= "stylesheets/style3.css">

	<title>Christine Mi | About Me</title>
</head>
<body>
 <ul>
      <b><li><a href="/">HOME</a></li>
      <li><a href="/about">ABOUT ME</a></li>
      <li><a href="/illustration">ILLUSTRATION</a></li>
       <li><a href="/contact">CONTACT</a></li>
    </ul>

   <h3>About Me</h3>
   <h2>Hey! I'm Christine Mi. I'm from San Diego, California and I just graduated from Yale University with a degree in Economics. I make art in my free time and I love all mediums, digital or traditional. <br><br>
   I'm an avid traveler (23 countries so far and counting!) and I'm obsessed with animals. <br><br><br></h2>





</body>
</html>