<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href= "stylesheets/style2.css">

	<title>Christine Mi</title>
</head>

<body>
<!-- <div class="home-page"> -->
  <ul>
      <b><li><a href="/">HOME</a></li>
      <li><a href="/about">ABOUT ME</a></li>
      <li><a href="/illustration">ILLUSTRATION</a></li>
      <li><a href="/contact">CONTACT</a></li>
  </ul>

	<h1></h1>
	<h3><br>Email: <br>christinexmi@gmail.com<br><br>Shoot me a line!</h3>

<!-- 	</div>
 -->
</body>
</html>