<head>
	<link href="<%= url('/../style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>Contacts</h1>
	<a href="/contacts">View All Contacts</a>
	<br>
	<p>Or Choose to View a Single Contact:</p>
	<% @contacts.each do |contact| %>
		<p><a href="/contacts/<%= contact %>"><%= contact.capitalize %></a></p>
	<% end %>
	<br>
<a href="/">home</a>
</body>