body {
	font-family:'Open Sans', sans-serif;
}
h1 {
	text-align: center;
}
a:link {
	color: 808080;
	text-decoration: none;
	text-align: center;
	background-color: #A4C7F3;
}
a:hover {
	text-decoration: underline;
}