 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SPOON</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
      
        </div><!--/.navbar-collapse -->
      </div>
    </nav>


<div class="spoonbody">
<img src="/images/whatisspoon.jpg" width="250"><br>
<h1>	Spooning is the act of two or more people and/or objects lying down, facing the same direction in a spoon-like position, with minimal space between the participants. Spooning was invented to bring peace and harmony to the universe.
</h1>
</div>